<head>
    <title>flex example</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="ex1.css">
</head>
<body>
    <div class="container">
        <div class="flex1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, velit!</div>
        <div class="flex2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam saepe exercitationem dolor dignissimos totam culpa. Est deleniti, dolorum vitae? Culpa illo modi accusamus recusandae, dolorem incidunt iure ducimus quae voluptatum vitae ipsam non numquam quidem, quasi voluptas aspernatur voluptatibus eius debitis aliquam laudantium corrupti? Vero quam accusantium, quibusdam odio minima iure officiis maiores repudiandae, nostrum, deleniti optio quis incidunt consectetur quae reiciendis eum dolores dolorem praesentium voluptates magni. Quod earum error enim sint omnis, excepturi voluptatum repellendus optio. Voluptates voluptatibus odit itaque. Vel, id! Recusandae voluptatum velit voluptates eaque iure.</div>
        <div class="flex3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ab repellat rem id aperiam sapiente? Ea tempore harum perspiciatis hic!</div>
        <div class="flex4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ab repellat rem id aperiam sapiente? Ea tempore harum perspiciatis hic!</div>
    </div>
</body>