<head>
    <title>interesting menu exampe</title>
    <meta charset="UTF8">
    <link rel="stylesheet" href="menuExample.css">
</head>
<body>
    <div class = "dropDown"> <a>Hover Menu </a>
    <div class="container">
        <div class="menuItem1 menuItem"><a href="fake.html">Lorem.</a></div>
        <div class="menuItem2 menuItem"><a href="fake.html">Adipisci!</a></div>
        <div class="menuItem3 menuItem"><a href="fake.html">Laborum?</a></div>
        <div class="menuItem4 menuItem"><a href="fake.html">Dolorum.</a></div>
        <div class="menuItem5 menuItem"><a href="fake.html">Ad?</a></div>
    </div>
    <div>
</body>