
@headingBG : lightblue;

.heading{
    background: @headingBG;
    text-align: center;
    font-size: 20;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    display: flex;
    .sidebar{
        width : 20%;
        background-color: blue;
        color : contrast(blue);

        .item.selected{
            background: red;
            color : contrast(red);
        }
    }
    .index{
        width : 20%;
        background: lightblue;
        overflow: hidden;

        .indexItem {
            border: solid 0.5px;
        }
        .indexItem.selected{
            background-color: white;
            color : contrast(white)
        }
    }
    .message {
        width : 59%;
    }

}
