.header {
    height: 5em;
    background: lightsteelblue;
    text-align: center;
}

@color_list:lightblue darkblue cyan magenta;


.spineColors(@colors, @num, @repeat) when (@num >0){
    @bg_color : extract(@colors, @num);
    user-select: none;
    color : contrast(@bg_color);
    >.book:nth-child(@{repeat}n+@{num}){
        background: @bg_color;
        .spine {
            background: @bg_color;
            color : contrast(@bg_color);
        }
    }
    >.book:nth-child(@{repeat}n+@{num}).selected{
        background:lighten(@bg_color,10%);
        display: flex;
        flex-direction: row;
        width: 100%;
        
        >.pages {
            display: block;   
            color : contrast(@bg_color);
        }
    }
    .spineColors(@colors, @num - 1, @repeat);
}

.bookshelf{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    .spineColors(@color_list, 4, 4);
    >.book>.spine{
        writing-mode: vertical-rl;
        text-orientation: upright;
        
    }

    >.book>.pages{
        display: none;        
    }
 

}