div.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 150px;
    background-color: lightblue;
    text-align: center;
    font-size: 20pt;
}

.menu {
    counter-reset: item;
}

//generate gradient color for the menu
.loop(@counter, @bgcolor, @angle, @angleIncrement) when (@counter >0) {
    .loop(@counter - 1, lighten(@bgcolor, 10%), @angle+@angleIncrement, @angleIncrement);
    @y_origin : 10px;
    .menu .item:nth-child(@{counter}) {
        background-color: @bgcolor;
        width: 200px;
        position: absolute;
        color: contrast((@bgcolor));
        transform-origin: 0 @y_origin;
        transform: rotate(0deg);
        text-align: right;
        transition: transform 1s;
        a:link {
            color: contrast((@bgcolor));
        }
    }
    .menu.open .item:nth-child(@{counter}) {
        transform-origin: 0 @y_origin;
        transform: rotate((@counter - 1) * @angleIncrement);
        transition: transform 1s;
    }
}

.content {
    .menu {
        position: relative;
    }
    .loop(5, darkgreen, 0deg, 10deg);
}