.header {
    text-align: center;
    background: lightcoral;
    height: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu.clickable {       
    display: flex;
    justify-content: space-around;
    user-select: none;
    background:lighten(green,10%);
    .folder {
        display:inline-block;
        width : 10em;
        position: relative;
      
    }

    .name:not(.selected)~.itemContainer {
      display: none;
      
    }
    
    .name.selected~.itemContainer {
        position: absolute;
        background: black;
        color: white;
    }
}

.container1 {  
    position:relative;
    /*
    .menu.sliding {  
        user-select: none;     
       width : 2em;
       background: purple;
       div {
           overflow: hidden;
           width: 2em;
           
       }
    }
    .menu.sliding.open{
        overflow:visible;
        width: 10em;
        div {
            overflow: hidden;
            width: 10em;
            background: purple;
            transition: width 1s;
        }
    }*/

        
    .menu.sliding {
        position: absolute;  
       user-select: none;     
       width : 2em;
       transition: width 1s;
       height: 100%;
       background:purple;
       overflow: hidden;

       >div {
    
    
           width: 2em;
          
    
       }
    }
    .menu.sliding.open{
        width: 10em;
        transition: width 1s;
        >div {  
            overflow:visible;
            background:purple;
        }
    }
   .main.contents {
       position: relative;
       z-index: -1;
       padding-left: 2em;

     
   }
}