.animated_banner {
    position: relative;
    height:20em;
    background: grey;
    overflow: hidden;
    
    div{
        text-align: center;
        
    }
}

.rain_animation {
    position: absolute;
    animation-name: fall;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
.rain {
    .rain_animation;
    
    width: 1em;
}


@keyframes fall {
    0% {top : -3em;}

    100% {top : 20em;}
}