<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Week 7 Example</title>
</head>
<body>
    <h1>CPSC 2030, TWIG templates Example</h1>
    <p>Templates + PHP is a better way of working than simply inserting PHP code blocks inside a html file.
        This leads to code that is easier to understand. 
    </p>
    
    <h2>Please choose which store you like to visit</h2>
    {% for store in stores %}
    <!-- piping to the url_encode function, so that the store string gets escaped. That is spaces turned into + for this case-->
    <!-- Also notice there are two ways to access a column, both are acceptable-->
     <div><a href="page2.php?store={{store.store | url_encode}}">{{store["store"]}}</a>
      <div class="location">Location X:{{store["loc_x"]}} Y:{{store["loc_y"]}}</div>
    </div>
    {% endfor %}

</body>
</html>